*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 450px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
}

@media (max-width:799px) {
    .container{
        flex-direction: column;
        width: 375px;
        height: min-content;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 50px;
    }
}