*{
    padding: 0;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 450px;
    align-items: center;
    justify-content: center;
}

.frag{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 380px;
}

.div-btn{
    height: 100px;
    display: flex;
    align-items: flex-end;
}

@media (max-width:799px){
    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
        align-items: center;
        justify-content: center;
    }

    .frag{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 380px;
    }
}